.container {
  width: 100%;
  background-color: #e5e7eb; /* bg-gray-200 */
  border-radius: 9999px;
  height: 0.625rem; /* h-2.5 */
  margin-top: 0.5rem;
}

.fill {
  background-color: #2563eb; /* bg-blue-600 */
  height: 100%;
  border-radius: 9999px;
  transition: width 0.5s ease-out;
}